// 변수지정 
$border_color:#ff7f50; /* 무료배송쿠폰 테두리 */
$font_color1:#222; 
$bg_color:#eee;
$box_best:#ffe4c4; /* 상품 밑 박스 */
$box_order:#000080; /* 상품 밑 박스 */
$font_color2:#aaa;
$wh:#fff;
//mixin ===============//mixin ===============//mixin ===============//mixin ===============//mixin ===============//mixin ===============
@mixin flex-row {
    display:flex; flex-flow:row nowrap; justify-content:space-between;
}
@mixin layout {width:1200px; margin:0 auto;}
@mixin flex-center {
    display:flex; flex-flow:row nowrap; align-items:center; justify-content:center;
}
@mixin grid-columns-3 {
    display: grid;
    grid-template-columns:repeat(3,1fr);
}

//-------------------------------------------------------------------------------------------------------------------
// skip ===================================================================================================
// .lang, .all_nav, .sub {display:none;}
//design-------------------------------====================================================================
// popup // popup // popup // popup // popup // popup // popup // popup 
#popup {
    background-color:$bg_color;
    text-align:center;
    padding:10px;
    text-transform:uppercase;
    a {color:$font_color1; font-weight:700; font-size:0.91rem; letter-spacing:-0.05em;}
}
// header //header //header// header// header//
header {
    @include layout;
    background-color:pink;
    .top {
        position:relative;
        h1 {
            text-align:center;
            padding:55px 0;
            a {
                display:block;
                margin:0 auto; width:150px;
                text-align:center;
                img {width:100%;}//e:logo
            }
        }//e:h1
        .right {
            background-color: lime;
            @include flex-center;
            position:absolute; right:0; bottom:30px;    
            li:first-child {position:relative;
                > a::after{
                    content:''; display:inline-block; width:10px; height:10px;
                    background:url(../images/arr.png) no-repeat;
                    margin-left:7px;
                }
                .lang {
                    display:block; background: $wh;
                    position:absolute; z-index:910;
                    border:1px solid $font_color2; left:-50%;
                    a {font-size:0.84rem;}
                }//e:lang
            }
            li {
                a {
                    text-transform:uppercase;
                    padding:10px 7px; display:block;
                    position:relative;
                    span{
                        border:2px solid $border_color; font-size:0.84rem; border-radius:5px; padding:3px 10px;
                        position:absolute; width:max-content;
                        left:-50%; top:35px;
                    } //e:span / 무료배송쿠폰
                }//e:a
            }//e:li
        }//e:.right(ul)
        .all_nav {
            display:block; background: $wh; border:1px solid $font_color2; border-radius:5px;
            position:fixed; left:50%; top:50%;
            width:700px; height:500px; z-index:999;
            transform:translate(-50%,-50%);
            text-align: center;
            a:first-child {line-height: 500px;}
            .close {
                position:absolute; right:20px; top:20px;
                font-size:1.5rem; font-weight:700; padding:10px;
            } //e:.close 메뉴닫기
        } //e:all_nav
    }//e:.top  
    .btm { 
        nav {
            background-color: #ff0;
            > ul {
                @include flex-center();
                > li {
                    position:relative;
                    > a {
                        text-transform:uppercase; padding:15px; display:block; font-weight:700;
                    } //e:a / 메뉴들
                    > a:hover {color:$border_color; font-weight:700;}
                    .sub {
                        display:block; background:$wh;
                        position:absolute; width:100%; z-index:900;
                        border:1px solid $font_color2;
                        li {
                            a {padding:10px; display:block;}//e:a
                        }//e:li /깔창,기타
                    } //e:.sub / acce
                } //e:li /메뉴들을 묶은 li
            }//e:ul 
        } //e:nav
    } //e:btm
}//e:header

// main 시작 350 * 
main {
    #right_popup {
        position:fixed; right:0; top:0;
        display:flex; align-items:center;
        #popup_btn {
            background-color: #fff; width:30px;
            border:1px solid $font_color2;
            display:flex; flex-flow:column;
            a:first-child{background:$border_color;}
            a {width:100%; padding:5px; text-align:center;
                border:1px solid $font_color2;
                border-right:none;
                img{}
            }
        }//e:popup_btn
        .contents { 
            border: 1px solid $font_color2; padding:5px 30px;
            background-color: #fff; width:500px; height:100vh;
            text-align:left;
            .info {padding:20px 100px; 
                img{width:100%;}
            }
            .info_contents {
                color:$font_color2; line-height:1.3em; 
                margin:5px 0 20px; text-align:center; letter-spacing: -0.05em;
            }
            .user {
                background-color: lime;
                display:grid;
                grid-template-columns:repeat(2,1fr);
                line-height:1.7em;
                a {
                    border-bottom:1px solid $font_color2;
                    margin-right:10px; text-transform:uppercase;
                    span{color:$border_color;}
                }
            } //e:user
            .board {
                background-color: pink;
                display:grid;
                grid-template-columns:repeat(2,1fr);
                text-transform:uppercase;
                line-height:1.7em;
                margin:40px 0;
                a {border-bottom:1px solid $font_color2;
                    margin-right:10px;}
            }//e:board
            h2 {text-transform:capitalize; padding:20px 0; font-weight:800;}
            h2+p {
                width:200px;
                img{width:100%;}
            }
            address {font-size:2rem; padding:20px 0; font-weight:700;}
            address+p {text-transform: uppercase; line-height:1.5em; font-weight:600;}
        }
    }//e:right_popup
    .visual {}
    .event_bnr {
        width:1200px;
        margin:80px auto;
        @include grid-columns-3;
        a {margin:0 5%; height:80%;
            img {width:100%;}
        }
    }//e:event_bnr
    .weekly_best {
        @include layout;
        h2:first-child {font-weight: 700; text-align:center; padding-bottom:100px; font-size:1.2rem; text-transform: uppercase;}
        .product {
            @include grid-columns-3; @include layout;
            li {height:90%; margin:0 2%; 
                .img {
                    img{width:100%;}
                }
                > *, > * > * , > * > * > * {font-size:0.8rem;}
                h2 {margin:10px 0 5px;}
                .price {margin-bottom:30px;}
                .price > span {font-weight: 700; font-size: 0.9rem;}
                .price::after {content:''; display:block; width:100%; height:1px; background-color:$font_color2; position:relative; top:20px;}
                .btm {
                    width:100%; 
                    display:grid;
                    grid-template-columns:repeat(2,1fr);
                    .size {}
                    .review {text-align: right; color:$border_color;}
                    > p:last-child { margin:15px 0 50px;
                        .best{color:$wh; background-color: $box_best; padding:2px 5px;}
                        .order{color:$wh; background-color: $box_order; padding:2px 5px; margin-left:5px;}
                    }
                }
            }
        }//e:product
    }//e:weekly_best
    .shop_now {
        background-image: url(../images/made_img.jpg);
        background-size:100%; height:300px;
        text-align: center;
        margin:50px 0 100px;
        h2 {padding:100px 0 0; font-size:3rem; font-weight: 800; color:$wh;}
        .now {display:inline-block; margin:10px 0; padding:20px 40px; font-size:1.1rem; border:1px solid $wh; color:$wh}
    }//e:shop_now
} // e:main
footer {
    margin:80px 0;
    border-top:1px solid $font_color2;
    .container {
        @include layout;
        > * {font-size:0.8rem; }
        .footer_top {
            margin:50px 0 20px;
            a:first-child {margin: 0;}
            a {margin: 0 20px;}
        }
        address {line-height:1.5em;}
    }
}//e:footer